.header-main-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
  width: 80px;
  height: 100vh;
  z-index: 8; }
  @media (max-width: 899px) {
    .header-main-container {
      width: 100vw;
      height: 63px;
      background-color: #30373f; } }

.header-logo-container {
  display: flex;
  position: absolute;
  align-content: center;
  align-items: center;
  background-color: #f0e9e1;
  width: 80px;
  height: 133px; }
  @media (max-width: 899px) {
    .header-logo-container {
      height: 63px;
      width: 59px; } }

.header-logo {
  padding-left: 1rem;
  height: 4.3rem;
  width: 4.3rem; }
  @media (max-width: 899px) {
    .header-logo {
      padding-top: 2px;
      height: 40px;
      width: 30px;
      margin-left: 14.5px;
      padding-left: 0; } }

.header-main-text {
  max-height: 300px;
  position: fixed;
  margin-top: 49.4vh;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 330;
  font-size: 17px;
  color: black;
  text-align: center;
  padding-left: 25px; }

.header-social-icon-fb {
  height: 41px;
  width: 41px;
  padding-top: 7px;
  cursor: pointer;
  fill: #C6AB8F;
  transition: fill 0.2s ease-in-out; }
  .header-social-icon-fb .fb-path2 {
    fill: #FFFFFF; }

.header-social-icon-fb:hover {
  fill: #110d08; }

.header-social-icon-ig {
  cursor: pointer;
  fill: #C6AB8F;
  transition: fill 0.2s ease-in-out;
  height: 41px;
  width: 41px;
  padding-top: 7px; }
  .header-social-icon-ig .ig-path2 {
    fill: #FFFFFF; }

.header-social-icon-ig:hover {
  fill: #110d08; }

.header-social-icon-ta {
  height: 41px;
  width: 41px;
  padding-top: 7px;
  cursor: pointer;
  fill: #C6AB8F;
  transition: fill 0.2s ease-in-out; }

.header-social-icon-ta:hover {
  fill: #110d08; }

.header-social-container {
  display: flex;
  min-height: 10px;
  margin-left: 1.2rem;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  padding-bottom: 30px;
  cursor: pointer; }
  @media (max-width: 899px) {
    .header-social-container {
      display: none; } }

.responsive-header-border {
  display: none; }
  @media (max-width: 899px) {
    .responsive-header-border {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 24px;
      width: 45px;
      border-left: solid 0.005rem #ab8c6b;
      margin-left: 93.8vw;
      margin-top: 20px;
      color: white;
      font-weight: bold; } }
